@import './register.scss';
@import './login.scss';
body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #212121;
    color: white;
    height: 100vh;
}
.logo{
    width: fit-content;
    height: 8rem;
    margin: auto;
}


.main {
    header{
        background-color: rgba(49, 49, 49, 0.808);
        width: 100%;
        padding: .5rem;
        div{
            padding:0 1rem;
            display: flex;
            justify-content: space-between;
            margin: auto;
            nav{
                width: fit-content;
                margin: 0;
                margin:auto 0;
            }
        }

    }
}

nav{
    width: 60%;
    margin: auto;
    ul{
        padding: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

a:hover{
    color: #b23cfd;
}
.form-check{
    width: 60%;
    margin: auto;
}

.main{
    .form-outline{
        width: 60%;
    margin: auto;
    }
    span{
        color: gray;
    }
    .filter-green{
        filter: invert(28%) sepia(81%) saturate(1673%) hue-rotate(93deg) brightness(92%) contrast(105%);
    }
    .filter-red{
        filter: invert(16%) sepia(100%) saturate(7292%) hue-rotate(9deg) brightness(104%) contrast(119%);
    }
}

.stock-info{
    background-color:#303030;
    border-radius: 20px;
    padding: 1rem;
}
.watchlist{
    h3{
        text-align: center;
    }
    .watchlist-item{
        padding-top: 16px;
        border-top: 1px solid #303030;
        border-bottom: 1px solid #303030;
        .watchlist-heading{
            color: gray;
        }
    }
}

